<%= form_with(model: staff) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
        <% staff.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :staff_name %>
    <%= form.text_field :staff_name, class:'form-control' %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :staff_header %>
    <%= form.text_field :staff_header, class:'form-control' %>
  </div>


</br>
  <div class="field form-group">
    <%= form.label :staff_adress %>
    <%= form.text_field :staff_adress, class:'form-control' %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :institut_name %>
    <%= form.text_field :institut_name, class:'form-control' %>
  </div>

</br>
  <div class="actions form-group">
    <%= form.submit class: 'btn btn-info'%>
  </div>
<% end %>
