
<%= form_with(model: staff) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
        <% staff.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :Team_Name %>
    <%= form.text_field :staff_name, class:'form-control', placeholder: 'Name' %>
  </div>

</br>
<div class="field form-group">
    <%= form.label :Type_of_staff %></br>
    <%= form.radio_button :staff_type, 'Team' %> Team <br />
    <%= form.radio_button :staff_type, 'Facility' %> Facility <br />
</div>

</br>
  <div class="field form-group">
    <%= form.label :Header %>
    <%= form.text_field :staff_header, class:'form-control', placeholder: "Header's name" %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :Adress %>
    <%= form.text_field :staff_adress, class:'form-control', placeholder: 'Adress' %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :Postal_code %>
    <%= form.text_field :postalcode, class:'form-control', placeholder: 'Postal Code' %>
  </div> 


</br>
  <div class="field form-group">
    <%= form.label :City %>
    <%= form.text_field :city, class:'form-control', placeholder: 'City' %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :Country %>
    <%= form.text_field :country, class:'form-control', placeholder: 'Country' %>
  </div>


</br>
  <div class="field form-group">
    <%= form.label :Institut_name %>
    <%= form.text_field :institut_name, class:'form-control', placeholder: 'Institut name' %>
  </div>

</br>
  <div class="actions form-group">
    <%= form.submit class: 'btn btn-light'%>
  </div>
<% end %>
