      <tr>
        <td><%= staff.staff_name %></td>
        <td><%= staff.staff_header %></td>
        <td><%= staff.staff_coheader %></td>
        <td><%= staff.staff_adress %></td>
        <td><%= staff.institut_name %></td>
        <td><%= link_to 'Show', staff %></td>
        <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
        <td><%= link_to 'Destroy', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>