<h1>Teams and Facilities</h1>
</br>

<table class ="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Staff name</th>
      <th>Staff header</th>
      <th>Staff adress</th>
      <th>Institut name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.staff_name %></td>
        <td><%= staff.staff_header %></td>
        <td><%= staff.staff_adress %></td>
        <td><%= staff.institut_name %></td>
        <td><%= link_to 'Show', staff %></td>
        <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
        <td><%= link_to 'Destroy', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staff', new_staff_path, class:'btn btn-info' %>
