<h1>  <%= @staff.staff_name %> </h1> 
<hr>

</br>
<p>
  <% unless @staff.topic.blank? %>
    <strong>Topic:</strong>
    <%= @staff.topic %>
  <% end %>
</p>

<p>
  <% unless @staff.url.blank? %>
    <strong>Website:</strong>
    <%= link_to "Click here", @staff.url, target: :blank %>
  <% end %>
</p>

<p>
  <% unless @staff.staff_header.blank? %>
    <strong>Header's team or facility:</strong>
    <%= @staff.staff_header %>
  <% end %>  
</p>

<p>
  <% unless @staff.staff_type.blank? %>
    <strong>Type :</strong>
    <%= @staff.staff_type %>
  <% end %>  
</p>

<p>
  <% unless @staff.staff_adress.blank? %>
    <strong>Adress:</strong>
    <%= @staff.staff_adress %>
  <% end %>  
</p>

<p>
  <% unless @staff.postalcode.blank? %>
    <strong>Postal code:</strong>
    <%= @staff.postalcode %>
  <% end %>   
</p>

<p>
  <% unless @staff.city.blank? %>
    <strong>City:</strong>
    <%= @staff.city %>
  <% end %>    
</p>

<p>
  <% unless @staff.country.blank? %>
    <strong>Country:</strong>
    <%= @staff.country %>
  <% end %>    
</p>


<p>
  <% unless @staff.institut_name.blank? %>
    <strong>Department or Institut:</strong>
    <%= @staff.institut_name %>
  <% end %>     
</p>

</br>
<p>
<%= link_to 'Edit information', edit_staff_path(@staff), class:'btn btn-light' %> 
<%= link_to 'Back', staffs_path, class:'btn btn-secondary' %>
</p>