<p>
  <strong>Staff name:</strong>
  <%= @staff.staff_name %>
</p>

<p>
  <strong>Staff header:</strong>
  <%= @staff.staff_header %>
</p>

<p>
  <strong>Staff type:</strong>
  <%= @staff.staff_type %>
</p>

<p>
  <strong>Staff adress:</strong>
  <%= @staff.staff_adress %>
</p>

<p>
  <strong>Staff postalcode:</strong>
  <%= @staff.postalcode %>
</p>

<p>
  <strong>Staff city:</strong>
  <%= @staff.city %>
</p>

<p>
  <strong>Staff country:</strong>
  <%= @staff.country %>
</p>


<p>
  <strong>Institut name:</strong>
  <%= @staff.institut_name %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff), class:'btn btn-info' %> 
<%= link_to 'Back', staffs_path, class:'btn btn-secondary' %>
