<p>
  <strong>Name:</strong>
  <%= @staff.staff_name %>
</p>

<p>
  <strong>Header:</strong>
  <%= @staff.staff_header %>
</p>

<p>
  <strong>Type:</strong>
  <%= @staff.staff_type %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @staff.staff_adress %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @staff.postalcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @staff.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @staff.country %>
</p>


<p>
  <strong>Institut name:</strong>
  <%= @staff.institut_name %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff), class:'btn btn-info' %> 
<%= link_to 'Back', staffs_path, class:'btn btn-secondary' %>
