<%= form_with(model: line) do |form| %>
  <% if line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(line.errors.count, "error") %> prohibited this line from being saved:</h2>

      <ul>
        <% line.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group"> 
    <h5><%= form.label :line_name %> <%= mark_required(@line, :line_name) %> : </h5>
    <%= form.text_field :line_name, class:'form-control' %> 
  </div>

  </br>
  <div class="field form-group">
    <h5><%= form.label :synonym_line_name %> : </h5>
    <%= form.text_field :synonym_line_name, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group"><%= mark_required(@line, :line_type) %>
    <h5><%= form.label :line_type %> : </h5>
    <%= form.radio_button :line_type, 'reporter' %> Reporter line <br />
    <%= form.radio_button :line_type, 'functional_conditional_loss' %> Functional conditional line (loss of function)<br />
    <%= form.radio_button :line_type, 'functional_conditional_gain' %> Functional conditional line (gain of function)<br />
    <%= form.radio_button :line_type, 'functional_constitutive_loss' %> Functional constitutive line (loss of function)<br />
    <%= form.radio_button :line_type, 'functional_constitutive_gain' %> Functional constitutive line (gain of function)<br />
    <%= form.radio_button :line_type, 'wildtype' %> Wild-type line<br />
    <%= form.radio_button :line_type, 'other' %> Other<br />
  </div>

  </br>
  <div class="field form-group">
    <h5><%= form.label :person_in_charge %> : </h5>
    <%= form.text_field :person_in_charge, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <h5><%= form.label :breeding_type %> : </h5>
    <%= form.text_field :breeding_type, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <h5><%= form.label :generation %> : </h5>
    <%= form.radio_button :generation, 'F0' %> F0<br />
    <%= form.radio_button :generation, 'F1' %> F1<br />
    <%= form.radio_button :generation, 'F2' %> F2<br />
  </div>
  
  </br>
  <div class="field form-group">
    <h5><%= form.label :zygosity %> : </h5>
    <%= form.radio_button :zygosity, 'Homozygous' %> Homozygous<br />
    <%= form.radio_button :zygosity, 'Heterozygous' %> Heterozygous<br />
  </div>

  </br>
  <div class="field form-group">
    <h5><%= form.label :lab_of_origin %> : </h5>
    <%= form.text_field :lab_of_origin, class:'form-control' %>
  </div>

  </br>
  <h5> Associated phenotype : </h5>
  <div class='row'>
    <div class= 'col'>
      Existing phenotype :
      <%= form.collection_select :phenotype_id, Phenotype.all, :id, :name, {:include_blank => "Phenotype not listed"}%> 
    <div id="phenotypeHelp" class="form-text">If no phenotype corresponds, please select 'Phenotype not listed'and create a new one.</div>
    </div>

    <div class= 'col'>
      Or create a new associated phenotype:
      <%= form.fields_for :phenotype, Phenotype.new do |phenotype_attributes|%>
          <%= phenotype_attributes.text_field :name, placeholder: "Enter phenotype's name" %>
      <div id="phenotypeHelp" class="form-text">You will be authorized to fill the new phenotype's information once the name phenotype created.</div>
      <% end %>
    </div>
  </div>  
    
      
  </br>
  <div class="field form-group">
    <h5><%= form.label :genetic_modification_method_id %> : </h5>
    <%= form.collection_select :genetic_modification_method_id, GeneticModificationMethod.all, :id, :id, {:include_blank => "None"} %>
  </div>

  </br>
  <div class="field form-group">  
    <h5>Line added by : </h5>
    <%= form.collection_select :user_id, User.all, :id, :email, {:include_blank => "None"} %>
  </div>

  </br>
  <div class="field form-group">
    <h5><%= form.label :group_id %> : </h5>
    <%= form.collection_select :group_id, Group.all, :id, :group_name, {:include_blank => "None"} %>
  </div> 

  </br>
  <div class="field form-group">
    <h5><%= form.label :publication_id %> : </h5>
    <%= form.collection_check_boxes :publication_ids, Publication.all, :id, :publication_name, {:include_blank => "None"}%>
  </div> 


  </br>
  <div class="form-group">
    <% if @line.images.attached? %>
      <%= image_tag @line.images %>
    <% end %>
    
    <%= form.label :image %>
    <%= form.file_field :image, multiple: true, class:"form-control"%>
 </div>


  </br>
  <div class="actions">
    <%= form.submit class: 'btn btn-light' %>
  </div>
<% end %>
