<%= form_with(model: line) do |form| %>
  <% if line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(line.errors.count, "error") %> prohibited this line from being saved:</h2>

      <ul>
        <% line.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group"> 
    <h5><%= form.label :line_name %> <%= mark_required(@line, :line_name) %> : </h5>
    <%= form.text_field :line_name, class:'form-control' %> 
  </div>

  </br>
  <div class="field form-group">
    <h5><%= form.label :synonym_line_name %> : </h5>
    <%= form.text_field :synonym_line_name, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group"><%= mark_required(@line, :line_type) %>
    <h5><%= form.label :line_type %> : </h5>
    <%= form.radio_button :line_type, 'reporter' %> Reporter line <br />
    <%= form.radio_button :line_type, 'functional_conditional_loss' %> Functional conditional line (loss of function)<br />
    <%= form.radio_button :line_type, 'functional_conditional_gain' %> Functional conditional line (gain of function)<br />
    <%= form.radio_button :line_type, 'functional_constitutive_loss' %> Functional constitutive line (loss of function)<br />
    <%= form.radio_button :line_type, 'functional_constitutive_gain' %> Functional constitutive line (gain of function)<br />
    <%= form.radio_button :line_type, 'wildtype' %> Wild-type line<br />
    <%= form.radio_button :line_type, 'other' %> Other<br />
  </div>

  </br>
  <div class="field form-group">
    <h5><%= form.label :person_in_charge %> : </h5>
    <%= form.text_field :person_in_charge, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <h5><%= form.label :breeding_type %> : </h5> 
    <%= form.text_field :breeding_type, class:'form-control' %> <i> (Outbreed or Inbreed) </i> 
  </div>

  </br>
  <div class="field form-group">
    <h5><%= form.label :generation %> : </h5>
    <%= form.radio_button :generation, 'F0' %> F0 <br />
    <%= form.radio_button :generation, 'F1' %> F1 <br />
    <%= form.radio_button :generation, 'F2' %> F2 (or more) <br />
  </div>
  
  </br>
  <div class="field form-group">
    <h5><%= form.label :zygosity %> : </h5>
    <%= form.radio_button :zygosity, 'Homozygous' %> Homozygous<br />
    <%= form.radio_button :zygosity, 'Heterozygous' %> Heterozygous<br />
  </div>

  </br>
  <div class="field form-group">
    <h5><%= form.label :lab_of_origin %> : </h5>
    <%= form.text_field :lab_of_origin, class:'form-control' %>
  </div>

  </br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Associated phenotype :</h5>
      <p class="card-text">
        Create a new associated phenotype:
        <%= form.fields_for :phenotype, Phenotype.new do |phenotype_attributes|%>
          <%= phenotype_attributes.text_field :name, placeholder: "Enter phenotype's name" %>
        <div id="phenotypeHelp" class="form-text">You will be able to fill the new phenotype's information once the name phenotype created.</div>
        <% end %> 
      </p>
    </div>
  </div>      
    
  </br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Associated publication :</h5>
      <p class="card-text">
        <p>Existing publication :</p>
          <%= form.collection_check_boxes(:publication_ids, Publication.all, :id, :publication_name) do |publication| %>
          <div class="row">
            <%= publication.label(class: "check_box") do %>
              <div class="col-xs-4">
                <%= publication.check_box(class: "check_box") %>
                <%= publication.object.publication_name %>
              </div> 
            <% end %>        
          </div>
          <% end %> 
          <div id="publicationHelp" class="form-text">If no publication corresponds, please create a new one.</div></p></br>

        <p>Add a new associated publication:
          <%= form.fields_for :publication, Publication.new do |publication_attributes|%></br>
            <p><%= publication_attributes.text_field :publication_name, placeholder: "Publication's name" %></p>
            <p><%= publication_attributes.text_field :authors, placeholder: "Publication's authors" %></p>
            <p><%= publication_attributes.date_select :publication_date, :start_year => 1970, :end_year => 2120 %></p>
          <% end %> 
        </p>  
    </div>
  </div>

</br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Genetic modification method associated :</h5>
      <p class="card-text">
        <div class ="row">
          <div class="col">
          <%= form.fields_for :genetic_modification_method, GeneticModificationMethod.new do |genetic_modification_method_attributes|%></br>
            <p><%= genetic_modification_method_attributes.text_field :molecular_tools, placeholder: "Molecular tools" %></p>
            <p><%= genetic_modification_method_attributes.text_field :mutation_type, placeholder: "Mutation type" %></p>
            <p><%= genetic_modification_method_attributes.text_field :vector_name, placeholder: "Vector name" %></p>
          </div>

          <div class = "col"> </br>
            <p><%= genetic_modification_method_attributes.text_field :vector_description, placeholder: "Vector description" %></p>
            <p><%= genetic_modification_method_attributes.text_field :construction_type_description, placeholder: "Construction type description" %></p>
            <p><%= genetic_modification_method_attributes.text_field :tag_type, placeholder: "Tag type" %></p>
          </div>
          <% end %>
        </div>  
      </p>  
    </div>
  </div>

</br>
  <div class="field form-group">
    <h5>Genetic modification method associated ID : </h5>
    <%= form.collection_select :genetic_modification_method_id, GeneticModificationMethod.all, :id, :id, {:include_blank => "None"} %>
  </div>

  </br>
  <div class="field form-group">
    <h5><%= form.label :user_id %> : </h5>
    <%= form.collection_select :user_id, User.all, :id, :email, {:include_blank => "None"} %>
  </div> 

  </br>
  <div class="field form-group">
    <h5><%= form.label :group_id %> : </h5>
    <%= form.collection_select :group_id, Group.all, :id, :group_name, {:include_blank => "None"} %>
  </div> 


  </br>
  <div class="form-group">
    <% if @line.images.attached? %>
      <%= image_tag @line.images %>
    <% end %>
    
    <%= form.label :image %>
    <%= form.file_field :image, multiple: true, class:"form-control"%> 
  </div>
  

  </br>
  <div class="actions">
    <%= form.submit class: 'btn btn-light' %>
  </div>
<% end %>
