<h1> Lines <em>(<%= @lines.count %>)</em> </h1>
<hr>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Line name</th>
      <th>Short Description</th>
      <th>Lab of origin </th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <% unless @lines.each.blank? %>
          <td><%= link_to line.line_name, line, class:'link-info'%></td>
          <td>
            <% if  line.line_type == 'reporter' %> Reporter line
            <% elsif  line.line_type == 'functional_conditional_loss' %> Functional conditional line (loss of function)
            <% elsif  line.line_type == 'functional_conditional_gain' %> Functional conditional line (gain of function)
            <% elsif  line.line_type == 'functional_constitutive_loss' %> Functional constitutive line (loss of function)
            <% elsif  line.line_type == 'functional_constitutive_gain' %> Functional constitutive line (gain of function)
            <% elsif  line.line_type == 'wildtype' %> Wild-type line
            <% else %> Other
            <% end %>

            <% if  line.generation == "F2"%> F2 (or more)
              <% else %> <%= line.generation %>
              <% end %> 
              <%= line.zygosity %>
          </td>
          <td><%= line.lab_of_origin %></td>
          
          <% if user_signed_in?%> 
            <td><%= link_to 'Edit', edit_line_path(line), class:'btn btn-outline-secondary btn-sm' %></td>
            <td><%= link_to 'Delete', line, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger btn-sm' %></td>
          <% end %>
         <% end %> 

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in?%>
  <%= link_to 'Add Line', new_line_path, class:'btn btn-light' %>
 <% else %>
  <p> To add a new line, please <%= link_to "login",new_user_session_path, class:"link" %> </p>
 <% end %>  
