<h1>Lines</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Line name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.line_name %>
        <%= line.synonym_line_name %></td>
        <td><%= line.line_type %>
        <%= line.person_in_charge %>
        <%= line.breeding_type %>
        <%= line.generation %>
        <%= line.zygosity %></td>
        <td><%= link_to 'Show', line %></td>

        <% if user_signed_in?%> 
          <td><%= link_to 'Edit', edit_line_path(line) %></td>
          <td><%= link_to 'Destroy', line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in?%>
  <%= link_to 'New Line', new_line_path, class:'btn btn-info' %>
 <% else %>
  <p> To add a new line, please <%= link_to "login",new_user_session_path, class:"link" %> </p>
 <% end %>  
