<h1>All Lines</h1>
<hr>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Line name</th>
      <th>Short Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <% unless @lines.each.blank? %>
          <td><%= line.line_name %>
          <td>
            <% if  line.line_type == 'reporter' %> Reporter line
            <% elsif  line.line_type == 'functional_conditional_loss' %> Functional conditional line (loss of function)
            <% elsif  line.line_type == 'functional_conditional_gain' %> Functional conditional line (gain of function)
            <% elsif  line.line_type == 'functional_constitutive_loss' %> Functional constitutive line (loss of function)
            <% elsif  line.line_type == 'functional_constitutive_gain' %> Functional constitutive line (gain of function)
            <% elsif  line.line_type == 'wildtype' %> Wild-type line
            <% else %> Other
            <% end %>

          <%= line.generation %>
          <%= line.zygosity %>
            
          </td>
          <td><%= link_to 'Show more', line, class:'btn btn-outline-secondary btn-sm' %></td>

          <% if user_signed_in?%> 
            <td><%= link_to 'Edit', edit_line_path(line), class:'btn btn-outline-secondary btn-sm' %></td>
            <td><%= link_to 'Destroy', line, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger btn-sm' %></td>
          <% else %>
          <% end %>
         <% end %> 

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in?%>
  <%= link_to 'Add Line', new_line_path, class:'btn btn-light' %>
 <% else %>
  <p> To add a new line, please <%= link_to "login",new_user_session_path, class:"link" %> </p>
 <% end %>  
