<div class="container">
  <div class="row">

    <div class="col-sm">
      <h1> <%= @line.line_name %>   </h1>
    </div>

    <div class="col-sm">
    </div>

    <div class="col-sm">
    <%= link_to 'Index Lines Page', lines_path, class: 'btn btn-info' %>   
    </div>
  </div>
</div>    

<hr>

<div class="container">
  <div class="row">
   <div class="col-sm">
      <% if @line.line_type =='reporter' %>
        <%= image_tag("reporter.png", :size => "300x300") %>
      <% elsif @line.line_type =='wildtype' %>
        <%= image_tag("logo.png", :size => "300x300") %>
      <% else %>   
        <%= image_tag("mutant.png", :size => "300x300") %>
      <% end %>
    </div> 

    <!-- LINE DIRECT INFORMATION -->
    <div class="col-sm">
      
      <h5> Line information 
      <% if user_signed_in? %> 
        <%= link_to 'Edit', edit_line_path(@line), class: 'btn btn-light' %> </h5></br>
        <% else %> </h5></br>
        <% end %> 

      <p> <strong> Line ID : </strong>
      <%= @line.id %>
      </p>  


      <p>
        <% unless @line.line_name.blank? %>
          <strong>Line name:</strong>
          <%= @line.line_name %>
        <% end %>
      </p>

      <p>
        <% unless @line.synonym_line_name.blank? %>
          <strong>Synonym line name:</strong>
          <%= @line.synonym_line_name %>
        <% end %>
      </p>

      <p>
        <strong>Line type:</strong>
          <% if  @line.line_type == 'reporter' %> Reporter line
          <% elsif  @line.line_type == 'functional_conditional_loss' %> Functional conditional line (loss of function)
          <% elsif  @line.line_type == 'functional_conditional_gain' %> Functional conditional line (gain of function)
          <% elsif  @line.line_type == 'functional_constitutive_loss' %> Functional constitutive line (loss of function)
          <% elsif  @line.line_type == 'functional_constitutive_gain' %> Functional constitutive line (gain of function)
          <% elsif  @line.line_type == 'wildtype' %> Wild-type line
          <% else %> Other
          <% end %>
      </p>

      <p>
        <% unless @line.person_in_charge.blank? %>
          <strong>Person in charge:</strong>
          <%= @line.person_in_charge %>
        <% end %> 
      </p>

      <p>
        <% unless @line.breeding_type.blank? %>
          <strong>Breeding type:</strong>
          <%= @line.breeding_type %>
        <% end %> 
      </p>

      <p>
        <% unless @line.generation.blank? %>
          <strong>Generation:</strong>
          <% if  @line.generation == "F2"%> F2 (or more)
          <% else %> <%= @line.generation %></td>
          <% end %>  
        <% end %>  
      </p>

      <p>
        <% unless @line.zygosity.blank? %>
          <strong>Zygosity:</strong>
          <%= @line.zygosity %>
        <% end %>  
      </p>

      <p>
        <% unless @line.lab_of_origin.blank? %>
          <strong>Lab of origin:</strong>
          <%= @line.lab_of_origin %>
        <% end %>  

    </div>        

<!-- GENETIC MODIFICATION METHODS -->
    <div class="col-sm">

    <h5> Genetic modifications 
      <% unless @line.genetic_modification_method_id.blank? %> 
        <% if user_signed_in?%> 
          <%= link_to 'Edit', genetic_modification_method_path(@line.genetic_modification_method_id), class:'btn btn-light' %> </h5></br>
        <% else %> </h5></br>
        <% end %> 

      
          <% unless @line.genetic_modification_method.tag_type.blank? %>
              <strong>Tag type :</strong>
              <%=@line.genetic_modification_method.tag_type%>
            <%end%> 

        <p> <% unless @line.genetic_modification_method.construction_type_description.blank? %>
              <strong>Construction description :</strong>
              <%=@line.genetic_modification_method.construction_type_description%>
            <%end%> </p>

        <p> <% unless @line.genetic_modification_method.molecular_tools.blank? %>
              <strong>Molecular tools :</strong>
              <%=@line.genetic_modification_method.molecular_tools %>
            <%end%> </p>

        <p> <% unless @line.genetic_modification_method.mutation_type.blank? %>
              <strong>Mutation type:</strong>
              <%=@line.genetic_modification_method.mutation_type %>
            <%end%> </p>  

        <p> <% unless @line.genetic_modification_method.vector_name.blank? %>
              <strong>Vector name :</strong>
              <%=@line.genetic_modification_method.vector_name %>
            <%end%> </p> 

        <p> <% unless @line.genetic_modification_method.vector_description.blank? %>
              <strong>Vector description :</strong>
              <%=@line.genetic_modification_method.vector_description %>
            <%end%> </p> 

        <p> <% unless @line.genetic_modification_method.reagent_and_protocol.blank? %>
              <strong>Reagents and protocols :</strong>
              <%=@line.genetic_modification_method.reagent_and_protocol %>
            <%end%> </p> 
      
      <% end %>      
    </div>  
    </div>  
  </div>


<hr>   
<!-- MOLECULAR DATA -->
</br>
<h5>Molecular data 
  <% if @line.publications.ids.blank? %> : NA
  <% else%>
    <% if user_signed_in?%> 
      <%= link_to 'Edit', genetic_modification_method_path(@line.genetic_modification_method_id), class:'btn btn-light' %> </h5></br>
    <% else %> </h5></br>
    <% end %> 
    <% unless @line.genetic_modification_method.molecular_data.ids.blank? %>
      <% @line.genetic_modification_method.molecular_data.each do |molecular_datum| %>
        <table class="table table-bordered table-responsive">
          <thead>
            <tr class="header" bgcolor="F8F9FA">
              <th colspan="6"> Gene information </th>
              <th colspan="2">Chromosome information </th>
              <th colspan="2"> Other information </th>
            </tr>

            <tr>
              <th>Name</th>
              <th>Sequence</th>
              <th>Promoter</th>
              <th>Genbank accession number </th>
              <th>Ensembl accession number </th>
              <th>Genome version </th>

              <th>Chromosome's number </th>
              <th>Locus of insertion </th>

              <th>Mutated region</th>
              <th>NvERTx ID</th>
            </tr>  
          </thead>

          <tbody>
              <tr>
                <td><%= molecular_datum.gene_name %></td>
                <td><%= molecular_datum.gene_sequence %></td>
                <td><%= molecular_datum.gene_promoter %></td>
                <td><%= molecular_datum.genbank_gene_accession_number %></td>
                <td><%= molecular_datum.ensembl_gene_accession_number %></td>
                <td><%= molecular_datum.genome_version_accession_number %></td>
          
                <td><%= molecular_datum.chromosome_number %></td>
                <td><%= molecular_datum.locus_insertion %></td>

                <td><%= molecular_datum.NvERTx_id %></td>
                <td><%= molecular_datum.mutated_region %></td>

              </tr>
          </tbody>
        </table>
      <% end %> 
    <% end %>  
  <%end %>  

<!-- PHENOTYPE -->
</br>
  <h5> Associated Phenotype
      <% if user_signed_in?%> 
        <%= link_to 'Edit', phenotype_path(@line.phenotype_id), class:'btn btn-light' %> </h5></br>
      <% else %> </h5>
      <% end %> 

<div class="table-responsive"> 
  <table class="table table-bordered table-responsive">
    <thead>
      <tr class="header" bgcolor="F8F9FA">
        <th> Embryo stage</th>
        <th colspan ="2"> Larval stage </th>
        <th colspan ="2"> Metamorphosis </th>
        <th colspan ="2"> Adult stage </th>
        <th colspan="4"> Other Caracterization </th>
      </tr>

      <tr>
        <th> Lethality </th>
        <th> Swimming perturbation </th>
        <th> Lethality </th>
        <th> Perturbation</th>
        <th> Post-metamorphosis growth</th>
        <th> Lethality </td></th>
        <th> Fecondity </td></th>
        <th> Regeneration</th>
        <th> Sub-localization type</th>
        <th> Cell type</th>
        <th> Region type </th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @line.phenotype.embryo_letality %></td>
          <td><% if  @line.phenotype.larva_swimming_perturbation == true %> Yes
              <% else %> No
              <% end %>  
          </td>
          <td><%=  @line.phenotype.larva_letality %></td>
          <td><% if  @line.phenotype.metamorphosis_perturbation == true %> Yes
              <% else %> No
              <% end %>
          </td>
          <td><%=  @line.phenotype.post_metamorphosis_growth %></td>
          <td><%=  @line.phenotype.adult_letality %></td>
          <td><%=  @line.phenotype.adult_fecondity %></td>
          <td><%=  @line.phenotype.regeneration %></td>
          <td><%=  @line.phenotype.sublocalization_type %></td>
          <td><%=  @line.phenotype.cell_type %></td>
          <td><%=  @line.phenotype.region_type%> </td>
        </tr>
    </tbody>
  </table>

  <p><strong>Supplementary information : </strong>
  <% if @line.phenotype.other_phenotype_description.blank? %> 
    NA
  <% else %>
    <%=  @line.phenotype.other_phenotype_description %>
  <% end %>  
  </p>

</div> 
</br>
<!-- PUBLICATIONS -->
</br>
  <h5>Associated publications </h5>
    <% if @line.publications.ids.blank? %> NA
    <% else%>
      <% @line.publications.each do |publication| %>
        <ul>
          <li>
            <a> <%= publication.publication_name %>  </a> </br>
            <a> <%= link_to "Go to publication", publication_path(@line.publications.ids)%> </a>
          </li>
        </ul>    
      <% end %>  
    <% end %>  


<p>
  <% unless @line.wild_type_background_id.blank?%> 
    <%= link_to 'Wild-type background', wild_type_backgrounds_path, class: 'btn btn-outline-secondary btn-sm' %>
  <% end %>
</p>

</br>

    


