<h1> <%= @line.line_name %> </h1>
</br>

<div class="container">
  <div class="row">
    <div class="col-sm">
        <%= image_tag("nv_tg.png", :size => "300x300") %>
    </div> 


    <div class="col-sm">
      <p>
        <% unless @line.line_name.blank? %>
          <strong>Line name:</strong>
          <%= @line.line_name %>
        <% end %>
      </p>

      <p>
        <% unless @line.synonym_line_name.blank? %>
          <strong>Synonym line name:</strong>
          <%= @line.synonym_line_name %>
        <% end %>
      </p>

      <p>
        <strong>Line type:</strong>
          <% if  @line.line_type == 'reporter' %> Reporter line
          <% elsif  @line.line_type == 'functional_conditional_loss' %> Functional conditional line (loss of function)
          <% elsif  @line.line_type == 'functional_conditional_gain' %> Functional conditional line (gain of function)
          <% elsif  @line.line_type == 'functional_constitutive_loss' %> Functional constitutive line (loss of function)
          <% elsif  @line.line_type == 'functional_constitutive_gain' %> Functional constitutive line (gain of function)
          <% elsif  @line.line_type == 'wildtype' %> Wild-type line
          <% else %> Other
          <% end %>
      </p>

      <p>
        <% unless @line.person_in_charge.blank? %>
          <strong>Person in charge:</strong>
          <%= @line.person_in_charge %>
        <% end %> 
      </p>

      <p>
        <% unless @line.breeding_type.blank? %>
          <strong>Breeding type:</strong>
          <%= @line.breeding_type %>
        <% end %> 
      </p>

      <p>
        <% unless @line.generation.blank? %>
          <strong>Generation:</strong>
          <%= @line.generation %>
        <% end %>  
      </p>

      <p>
        <% unless @line.zygosity.blank? %>
          <strong>Zygosity:</strong>
          <%= @line.zygosity %>
        <% end %>  
      </p>

      <p>
      <% unless @line.user_id.blank? %>
        <strong>User ID:</strong>
        <%= @line.user_id %>
      <% end %>  
      </p>


      <p>
      <% unless @line.group_id.blank? %>
        <strong>Group ID:</strong>
        <%= @line.group_id %>
      <% end %>  
      </p>

      <p>
        <%= link_to 'Edit line information', edit_line_path(@line), class: 'btn btn-light' %> 
      </p>  
    </div>       

    <div class="col-sm">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Phenotype ID</th>
            <th>Tissu / Cellular localization </th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td><%= @line.phenotype.id %></td>
              <td><%= @line.phenotype.tissu_localization %></td>
              <td><%= link_to 'Show more', phenotype_path(@line.phenotype_id), class: 'btn btn-outline-secondary btn-sm' %> </td>
            </tr>  
        </tbody>
      </table>
    

      <strong>Associated publications : </strong>
        <% @line.publications.each do |publication| %>
          <ul>
            <li>
              <a> <%= publication.publication_name %>  </a> </br>
              <a> <%= link_to "Go to publication", publication_path(@line.publications.ids)%> </a>
            </li>
          </ul>    
        <% end %>  

    </div>  
  </div>

</br>
<p>
  <%= link_to 'Wild-type background', wild_type_backgrounds_path, class: 'btn btn-outline-secondary btn-sm' %>
</p>

<% unless @line.genetic_modification_method_id.blank?%>
  <p><%= link_to 'Methods & molecular data information', genetic_modification_method_path(@line.genetic_modification_method_id), class: 'btn btn-outline-secondary btn-sm' %> </p>
<% end %>  

</br>
<hr>



</br>
  <div class="row">   
    <div class="col-sm">   
      <%= link_to 'Back', lines_path, class: 'btn btn-secondary' %>
    </div>
  </div>            