<h1> <%= @line.line_name %> </h1>
<hr>

<div class="container">
  <div class="row">
    <div class="col-sm">
        <%= image_tag("nv_tg.png", :size => "300x300") %>
    </div> 


    <div class="col-sm">
      <h5> Line information</h5> </br>
      <p>
        <% unless @line.line_name.blank? %>
          <strong>Line name:</strong>
          <%= @line.line_name %>
        <% end %>
      </p>

      <p>
        <% unless @line.synonym_line_name.blank? %>
          <strong>Synonym line name:</strong>
          <%= @line.synonym_line_name %>
        <% end %>
      </p>

      <p>
        <strong>Line type:</strong>
          <% if  @line.line_type == 'reporter' %> Reporter line
          <% elsif  @line.line_type == 'functional_conditional_loss' %> Functional conditional line (loss of function)
          <% elsif  @line.line_type == 'functional_conditional_gain' %> Functional conditional line (gain of function)
          <% elsif  @line.line_type == 'functional_constitutive_loss' %> Functional constitutive line (loss of function)
          <% elsif  @line.line_type == 'functional_constitutive_gain' %> Functional constitutive line (gain of function)
          <% elsif  @line.line_type == 'wildtype' %> Wild-type line
          <% else %> Other
          <% end %>
      </p>

      <p>
        <% unless @line.person_in_charge.blank? %>
          <strong>Person in charge:</strong>
          <%= @line.person_in_charge %>
        <% end %> 
      </p>

      <p>
        <% unless @line.breeding_type.blank? %>
          <strong>Breeding type:</strong>
          <%= @line.breeding_type %>
        <% end %> 
      </p>

      <p>
        <% unless @line.generation.blank? %>
          <strong>Generation:</strong>
          <%= @line.generation %>
        <% end %>  
      </p>

      <p>
        <% unless @line.zygosity.blank? %>
          <strong>Zygosity:</strong>
          <%= @line.zygosity %>
        <% end %>  
      </p>


      <p>
        <%= link_to 'Edit line information', edit_line_path(@line), class: 'btn btn-light' %> 
      </p>  
    </div>       

    <div class="col-sm">
      <h5> Associated Phenotype </h5></br>
        <p>
          <% if @line.phenotype%>

            <strong>Name:</strong> <%= @line.phenotype.name%></br>

            <p><% unless @line.phenotype.region_type.blank? %>
              <strong>Region:</strong> <%= @line.phenotype.region_type%>
            <% end %> </p>

            <p><% unless @line.phenotype.sublocalization_type.blank? %>
              <strong>Sub-localization type:</strong> <%= @line.phenotype.sublocalization_type %>
            <% end %> <p>

            <p><% unless @line.phenotype.cell_type.blank? %> 
              <strong>Cell/Tissu type:</strong> <%= @line.phenotype.cell_type %>
            <% end %>  </p>


            <p><%= link_to 'Show more', phenotype_path(@line.phenotype_id), class: 'btn btn-outline-secondary btn-sm' %> </p>
          <%else%> No phenotype associated
          <%end%>
        </p> 
    </div>  
  </div>

</br>
  <strong>Associated publications : </strong>
    <% @line.publications.each do |publication| %>
      <ul>
        <li>
          <a> <%= publication.publication_name %>  </a> </br>
          <a> <%= link_to "Go to publication", publication_path(@line.publications.ids)%> </a>
        </li>
      </ul>    
    <% end %>  


<p>
  <% unless @line.wild_type_background_id.blank?%>
    <%= link_to 'Wild-type background', wild_type_backgrounds_path, class: 'btn btn-outline-secondary btn-sm' %>
  <% end %>
</p>

<% unless @line.genetic_modification_method_id.blank?%>
  <p><%= link_to 'Methods & molecular data information', genetic_modification_method_path(@line.genetic_modification_method_id), class: 'btn btn-outline-secondary btn-sm' %> </p>
<% end %>  

</br>
<hr>



</br>
  <div class="row">   
    <div class="col-sm">   
      <%= link_to 'Back', lines_path, class: 'btn btn-secondary' %>
    </div>
  </div>            