<h1> <%= @line.line_name %> </h1>
<hr>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <% if @line.line_type =='reporter' %>
        <%= image_tag("reporter.png", :size => "300x300") %>
      <% elsif @line.line_type =='wildtype' %>
        <%= image_tag("logo.png", :size => "300x300") %>
      <% else %>   
        <%= image_tag("mutant.png", :size => "300x300") %>
      <% end %>
    </div> 


    <div class="col-sm">
      
      <h5> Line information 
      <% if user_signed_in? %> 
        <%= link_to 'Edit', edit_line_path(@line), class: 'btn btn-light' %> </h5></br>
        <% else %> </h5></br>
        <% end %> 

      <p> <strong> Line ID : </strong>
      <%= @line.id %>
      </p>  


      <p>
        <% unless @line.line_name.blank? %>
          <strong>Line name:</strong>
          <%= @line.line_name %>
        <% end %>
      </p>

      <p>
        <% unless @line.synonym_line_name.blank? %>
          <strong>Synonym line name:</strong>
          <%= @line.synonym_line_name %>
        <% end %>
      </p>

      <p>
        <strong>Line type:</strong>
          <% if  @line.line_type == 'reporter' %> Reporter line
          <% elsif  @line.line_type == 'functional_conditional_loss' %> Functional conditional line (loss of function)
          <% elsif  @line.line_type == 'functional_conditional_gain' %> Functional conditional line (gain of function)
          <% elsif  @line.line_type == 'functional_constitutive_loss' %> Functional constitutive line (loss of function)
          <% elsif  @line.line_type == 'functional_constitutive_gain' %> Functional constitutive line (gain of function)
          <% elsif  @line.line_type == 'wildtype' %> Wild-type line
          <% else %> Other
          <% end %>
      </p>

      <p>
        <% unless @line.person_in_charge.blank? %>
          <strong>Person in charge:</strong>
          <%= @line.person_in_charge %>
        <% end %> 
      </p>

      <p>
        <% unless @line.breeding_type.blank? %>
          <strong>Breeding type:</strong>
          <%= @line.breeding_type %>
        <% end %> 
      </p>

      <p>
        <% unless @line.generation.blank? %>
          <strong>Generation:</strong>
          <% if  @line.generation == "F2"%> F2 (or more)
          <% else %> <%= @line.generation %></td>
          <% end %>  
        <% end %>  
      </p>

      <p>
        <% unless @line.zygosity.blank? %>
          <strong>Zygosity:</strong>
          <%= @line.zygosity %>
        <% end %>  
      </p>

      <p>
        <% unless @line.lab_of_origin.blank? %>
          <strong>Lab of origin:</strong>
          <%= @line.lab_of_origin %>
        <% end %>  

    </div>       

    <div class="col-sm">
      <h5> Associated Phenotype </h5></br>
        <p>
          <% if @line.phenotype%>

            <strong>Name:</strong> <%= @line.phenotype.name%></br>

            <p><% unless @line.phenotype.region_type.blank? %>
              <strong>Region:</strong> <%= @line.phenotype.region_type%>
            <% end %> </p>

            <p><% unless @line.phenotype.sublocalization_type.blank? %>
              <strong>Sub-localization type:</strong> <%= @line.phenotype.sublocalization_type %>
            <% end %> <p>

            <p><% unless @line.phenotype.cell_type.blank? %> 
              <strong>Cell/Tissu type:</strong> <%= @line.phenotype.cell_type %>
            <% end %>  </p>


            <p><%= link_to 'Show more', phenotype_path(@line.phenotype_id), class: 'btn btn-outline-secondary btn-sm' %> </p>
          <%else%> No phenotype associated
          <%end%>
        </p> 
    </div>  
  </div>

</br>
  <strong>Associated publications : </strong>
    <% if @line.publications.ids.blank? %> NA
    <% else%>
      <% @line.publications.each do |publication| %>
        <ul>
          <li>
            <a> <%= publication.publication_name %>  </a> </br>
            <a> <%= link_to "Go to publication", publication_path(@line.publications.ids)%> </a>
          </li>
        </ul>    
      <% end %>  
    <% end %>  


<p>
  <% unless @line.wild_type_background_id.blank?%>
    <%= link_to 'Wild-type background', wild_type_backgrounds_path, class: 'btn btn-outline-secondary btn-sm' %>
  <% end %>
</p>

<% unless @line.genetic_modification_method_id.blank?%>
  <p><%= link_to 'Methods & molecular data information', genetic_modification_method_path(@line.genetic_modification_method_id),  class: 'btn btn-outline-secondary btn-sm'%> </p> 
<% end %> 
<%= link_to 'Images repertory', images_path,  class: 'btn btn-outline-secondary btn-sm'%>

</br>
<hr>
 
<%= @line.images.each do |image| %>
  <%= @line.images %>
<% end %>  

    


           