<%= form_with(model: phenotype) do |form| %>
  <% if phenotype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phenotype.errors.count, "error") %> prohibited this phenotype from being saved:</h2>

      <ul>
        <% phenotype.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  </br>
  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <%= form.check_box :larva_swimming_perturbation %>
    <%= form.label :larva_swimming_perturbation %> <i>(To indicate a larval swimming perturbation, check the button)</i>
  </div>

  
  </br>
  <div class="field form-group">
    <%= form.label :embryo_letality %>  <i> (%) </i>
    <%= form.text_field :embryo_letality, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">  
    <%= form.label :larva_letality %>  <i> (%) </i>
    <%= form.text_field :larva_letality, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <%= form.check_box :metamorphosis_perturbation %>
    <%= form.label :metamorphosis_perturbation %> <i>(To indicate a metamorphosis perturbation, check the button)</i>
  </div>

  </br>
  <div class="field form-group">
    <%= form.label :post_metamorphosis_growth %>
    <%= form.text_field :post_metamorphosis_growth, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <%= form.label :regeneration %>
    <%= form.text_field :regeneration, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group"> 
    <%= form.label :adult_letality %>  <i> (%) </i>
    <%= form.text_field :adult_letality, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group"> 
    <%= form.label :adult_fecondity %> <i> (%) </i>
    <%= form.text_field :adult_fecondity, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <%= form.label :other_phenotype_description %>
    <%= form.text_area :other_phenotype_description, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <%= form.label :sublocalization_type %>: </br>
    <%= form.radio_button :sublocalization_type, 'Nuclei_mb' %> Nuclei membrane<br />
    <%= form.radio_button :sublocalization_type, 'Cell_mb' %> Cell membrane<br />
    <%= form.radio_button :sublocalization_type, 'Nuclei' %> Nuclei<br />
    <%= form.radio_button :sublocalization_type, 'Cytoplasm' %> Cytoplasm<br />
  </div>

  </br>
  <div class="field form-group">
    Cell/tissu type: </br>
    <%= form.radio_button :cell_type, 'Ectoderm' %> Ectoderm<br />
    <%= form.radio_button :cell_type, 'Endoderm' %> Endoderm<br />
    <%= form.radio_button :cell_type, 'Epithelial' %> Epithelial cells<br />
    <%= form.radio_button :cell_type, 'Cnidocyte' %> Cnidocyte cells<br />
    <%= form.radio_button :cell_type, 'Neuronal' %> Neuronal cells<br />
    <%= form.radio_button :cell_type, 'Gland' %> Gland cells<br />
    <%= form.radio_button :cell_type, 'Muscle' %> Muscle  cells<br />
    <%= form.radio_button :cell_type, 'Germline' %> Germline cells<br />
    <%= form.radio_button :cell_type, 'Stem' %> Stem cells<br /> 
  </div>

  </br>
  <div class="field form-group">
    Body region type: </br>
    <%= form.radio_button :region_type, 'Head' %> Head (capitulum)<br />
    <%= form.radio_button :region_type, 'Body' %> Body column (scapus)<br />
    <%= form.radio_button :region_type, 'Foot' %> Foot (physa) <br />
    <%= form.radio_button :region_type, 'Mesenteries' %> Mesenteries <br />
    <%= form.radio_button :region_type, 'Amputation' %> Amputation site <br />
    <%= form.radio_button :region_type, 'Nematosome' %> Nematosome <br />
    <%= form.radio_button :region_type, 'Tentacle' %> Tentacle <br /> 
    <%= form.radio_button :region_type, 'Mouth' %> Mouth <br />
    <%= form.radio_button :region_type, 'Pharynx' %> Pharynx <br /> 
  </div>
  
  </br>
  <div class="actions">
    <%= form.submit class:"btn btn-light" %>
      </div>
<% end %>
