<h1><%= @phenotype.name %></h1>
<hr>


<div class="table-responsive"> </br>
  <table class="table table-bordered table-responsive">
    <thead>
      <tr class="header" bgcolor="F8F9FA">
        <th> Embryo stage</th>
        <th colspan ="2"> Larval stage </th>
        <th colspan ="2"> Metamorphosis </th>
        <th colspan ="2"> Adult stage </th>
        <th colspan="4"> Other Caracterization </th
      </tr>

      <tr>
        <th> Lethality </th>
        <th> Swimming perturbation </th>
        <th> Lethality </th>
        <th> Perturbation</th>
        <th> Post-metamorphosis growth</th>
        <th> Lethality </td></th>
        <th> Fecondity </td></th>
        <th> Regeneration</th>
        <th> Sub-localization type</th>
        <th> Cell type</th>
        <th> Region type </th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @phenotype.embryo_letality %></td>
          <td><% if  @phenotype.larva_swimming_perturbation == true %> Yes
              <% else %> No
              <% end %>  
          </td>
          <td><%=  @phenotype.larva_letality %></td>
          <td><% if  @phenotype.metamorphosis_perturbation == true %> Yes
              <% else %> No
              <% end %>
          </td>
          <td><%=  @phenotype.post_metamorphosis_growth %></td>
          <td><%=  @phenotype.adult_letality %></td>
          <td><%=  @phenotype.adult_fecondity %></td>
          <td><%=  @phenotype.regeneration %></td>
          <td><%=  @phenotype.sublocalization_type %></td>
          <th><%=  @phenotype.cell_type %></td>
          <td><%=  @phenotype.region_type%> </td>
        </tr>
    </tbody>
  </table>

  <p><strong>Supplementary information : </strong>
  <% if @phenotype.other_phenotype_description.blank? %> 
    NA
  <% else %>
    <%=  @phenotype.other_phenotype_description %>
  <% end %>  
  </p>

</div>  

</br>
<% if user_signed_in? %> 
    <td><%= link_to 'Edit', edit_phenotype_path(@phenotype), class: 'btn btn-outline-secondary ' %></td>
    <td><%= link_to 'Destroy', @phenotype, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ' %> 
<% else %>
<% end %> 

</div>
</br>
<p> <%= link_to 'Back to phenotypes index', phenotypes_path, class: 'btn btn-secondary ' %></p>

