<h1> Materiel and Method information </h1>
<hr>

<p>
  <% unless @genetic_modification_method.id.blank? %>
      <strong>Genetic modification method ID :</strong>
      <%= @genetic_modification_method.id %>
  <% end %>  
</p>

<p>
  <% unless @genetic_modification_method.construction_type_description.blank? %>
      <strong>Construction type description:</strong>
      <%= @genetic_modification_method.construction_type_description %>
  <% end %>  
</p>

<p>
  <% unless @genetic_modification_method.tag_type.blank? %>
      <strong>Tag type :</strong>
      <%= @genetic_modification_method.tag_type %>
  <% end %>  
</p>

<p>
  <% unless @genetic_modification_method.mutation_type.blank? %>
    <strong>Molecular tools:</strong>
    <%= @genetic_modification_method.molecular_tools %>
  <% end %>  
</p>

<p>
  <% unless @genetic_modification_method.mutation_type.blank? %>
    <strong>Mutation type:</strong>
    <%= @genetic_modification_method.mutation_type %>
  <% end %>  
</p>

<p>
  <% unless @genetic_modification_method.vector_name.blank? %>
    <strong>Vector name:</strong>
    <%= @genetic_modification_method.vector_name %>
  <% end %>
</p>

<p>
  <% unless @genetic_modification_method.vector_description.blank? %>
    <strong>Vector description:</strong>
    <%= @genetic_modification_method.vector_description %>
  <% end %>
</p>

<p>
  <% unless @genetic_modification_method.reagent_and_protocol.blank? %>
    <strong>Reagent and protocol:</strong>
    <%= @genetic_modification_method.reagent_and_protocol %>
  <% end %>
</p>

<p> <% if user_signed_in?%> 
      <%= link_to 'Edit', edit_genetic_modification_method_path(@genetic_modification_method), class:'btn btn-light' %> 
      <%= link_to 'Back', genetic_modification_methods_path, class:'btn btn-secondary' %>
    <% else %>
      <%= link_to 'Back', genetic_modification_methods_path, class:'btn btn-secondary' %>
    <% end %>  
</p>

</br>


<% unless @genetic_modification_method.molecular_data.blank? %>
  <h1>Associated molecular data </h1><hr>
    <% @genetic_modification_method.molecular_data.each do |molecular_datum| %>
      <table class="table table-bordered table-responsive">
        <thead>
          <tr class="header" bgcolor="F8F9FA">
            <th colspan="6"> Gene information </th>
            <th colspan="2">Chromosome information </th>
            <th colspan="2"> Other information </th>
          </tr>

          <tr>
            <th>Name</th>
            <th>Sequence</th>
            <th>Promoter</th>
            <th>Genbank accession number </th>
            <th>Ensembl accession number </th>
            <th>Genome version accession number </th>

            <th>Chromosome's number </th>
            <th>Locus of insertion </th>

            <th>Mutated region</th>
            <th>NvERTx ID</th>


        </thead>

        <tbody>
            <tr>
              <td><%= molecular_datum.gene_name %></td>
              <td><%= molecular_datum.gene_sequence %></td>
              <td><%= molecular_datum.gene_promoter %></td>
              <td><%= molecular_datum.genbank_gene_accession_number %></td>
              <td><%= molecular_datum.ensembl_gene_accession_number %></td>
              <td><%= molecular_datum.genome_version_accession_number %></td>
        
              <td><%= molecular_datum.chromosome_number %></td>
              <td><%= molecular_datum.locus_insertion %></td>

              <td><%= molecular_datum.NvERTx_id %></td>
              <td><%= molecular_datum.mutated_region %></td>

            </tr>
        </tbody>
      </table>
    <% end %>
  <%end%>  

  <div class="field form-group">
    To fill molecular information, please click <%= link_to "here", new_molecular_datum_path, target: :_blank %>
  </div> 

  <br>

  <p><% if user_signed_in?%> 
      <% unless @genetic_modification_method.molecular_data.ids.blank?%>
        <%= link_to 'Edit', edit_molecular_datum_path(@genetic_modification_method.molecular_data.ids), class:'btn btn-light' %> 
        <%= link_to 'Back', molecular_datum_path, class:'btn btn-secondary' %>
      <%end%>  
     <% else %>
      <%= link_to 'Back', molecular_datum_path, class:'btn btn-secondary' %>
     <% end %> 
</p>
    
