<%= form_with(model: publication) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
        <% publication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :publication_name %>
    <%= form.text_field :publication_name, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <%= form.label :publication_date %>
    <%= form.date_select :publication_date, :start_year => 1970, :end_year => 2120, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <%= form.label :authors %>
    <%= form.text_field :authors, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <%= form.label :pubmed_link %>
    <%= form.text_field :pubmed_link, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <%= form.label :doi_link %>
    <%= form.text_field :doi_link, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <%= form.label :line_ids %>
    <%=  form.collection_check_boxes :line_ids, Line.all, :id, :id%>
  </div>

  </br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
