<h1> <%= @publication.publication_name %> </h1>
<hr>

<p>
  <strong>Date of publication:</strong>
  <%= @publication.publication_date %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @publication.authors %>
</p>

<p>
  <strong>Pubmed link:</strong>
  <%= @publication.pubmed_link %>
</p>

<p>
  <strong>Doi link:</strong>
  <%= @publication.doi_link %>
</p>

<p>
  <strong>Associated lines:</strong>
  <%= render @publication.lines %>
</p>

</br>
<%= link_to 'Edit information', edit_publication_path(@publication), class: 'btn btn-light' %>
<%= link_to 'Back', publications_path, class: 'btn btn-secondary'%>
