<p>
  <% unless @user.email.blank? %>
    <strong>User mail:</strong>
    <%= @user.email %>
  <% end %>

  <% unless @user.groups.blank? %>
    <strong>Associated groups:</strong>
    <%= @user.groups.ids %>
  <% end %>

</p>

<p>
<% if @user == current_user %>
	<%= link_to 'Edit information', edit_user_registration_path(@user), class:'btn btn-light' %> 
	<%= link_to 'Back', users_path, class:'btn btn-secondary' %>
<% else %>
	<%= link_to 'Back', users_path, class:'btn btn-secondary' %>
<% end %>	

</p>
