<!-- HOME PAGE -->
<h1>NvLines - A database referencing wild-type, transgenic and mutant Nematostella vectensis lines </h1>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card h-100">
      <%= link_to reporter_lines_index_path do %>
        <%= image_tag "nv_tg.png", :size => '450x450',:alt => "Image", :class => "img-fluid tm-header-img"%>
      <% end %>
    	<div class="card-body">
	        <h5 class="card-title">Reporter Lines</h5>
	        <p class="card-text">All transgenic and mutant lines referenced.</p>
	    </div>
	    	</br>
	    <div class="card-footer">
          <small class="text-muted">Image by ©Océane Tournière</small>
      	</div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
	    <%= link_to wt_lines_index_path do %>
        <%= image_tag "nv_tg.png", :size => '450x450',:alt => "Image", :class => "img-fluid tm-header-img"%>
      <% end %>
      <div class="card-body">
        <h5 class="card-title">Wild-type Lines</h5>
        <p class="card-text"> All wild-type lines referenced.</p>
      </div>
  		</br>
      <div class="card-footer">
        <small class="text-muted">Image by ©Océane Tournière</small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <%= link_to images_path do %>
        <%= image_tag "nv_tg.png", :size => '450x450',:alt => "Image", :class => "img-fluid tm-header-img"%>
      <% end %>
      <div class="card-body">
        <h5 class="card-title">Latest entry</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Image by ©Océane Tournière</small>
      </div>
    </div>
  </div>
</div>