<!-- HOME PAGE -->


<p>  Nematostella vectensis lines database is the first database referencing wild-type, transgenic and mutants lines of Nematostella vectensis organism. </p>
<p>You can search for a specific line and find all molecular information you need.</p>

<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card h-100">
      <%= link_to tg_m_lines_index_path do %>
        <%= image_tag "nv_tg.png", :size => '355x355',:alt => "Image", :class => "img-fluid tm-header-img"%>
      <% end %>
    	<div class="card-body">
	        <h5 class="card-title">Transgenic & Mutant Lines</h5>
	        <p class="card-text">Description.</p>
	    </div>
	    	</br>
	    <div class="card-footer">
          <small class="text-muted">Image by ©Océane Tournière</small>
      	</div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
	    <%= link_to wt_lines_index_path do %>
        <%= image_tag "nv_tg.png", :size => '355x355',:alt => "Image", :class => "img-fluid tm-header-img"%>
      <% end %>
      <div class="card-body">
        <h5 class="card-title">Wild-type Lines</h5>
        <p class="card-text"> Description.</p>
      </div>
  		</br>
      <div class="card-footer">
        <small class="text-muted">Image by ©Océane Tournière</small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <%= link_to images_path do %>
        <%= image_tag "nv_tg.png", :size => '355x355',:alt => "Image", :class => "img-fluid tm-header-img"%>
      <% end %>
      <div class="card-body">
        <h5 class="card-title">Latest entry</h5>
        <p class="card-text">Latest entry </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Image by ©Océane Tournière</small>
      </div>
    </div>
  </div>
</div>