<hr>
<nav class="navbar navbar-expand-lg navbar-light">
	
	<div class="container-fluid">

		<ul class="navbar-nav mx-md-auto justify-content-center ">

			<li class="nav-item-footer">
	    		<%= link_to "Images", images_path, class:"nav-link" %> 
	    	</li>

			<li class="nav-item-footer">
	    		<%= link_to "Publications", publications_path, class:"nav-link" %> 
	    	</li>

	    	<li class="nav-item-footer">
	    		<%= link_to "Contact Us", pages_contact_path, class:"nav-link" %> 
	    	</li>

	    	<li class="nav-item-footer">
	    		<%= link_to "Reporting bugs", pages_reporting_path, class:"nav-link" %> 
	    	</li>


	    	<li class="nav-item-footer">
	    		<%= link_to "NvERTx","http://nvertx.ircan.org/ER/ER_plotter/home", target: :_blank, class:"nav-link" %> 
	    	</li>
	     </ul>

	</div>
</nav>
<hr>

<div class="ChangeLog">
	Nvlines: The Nematostella vectensis Model Organism Lines Database. Version 1.0 © NvLines 2021.
</div>

<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
