
<!-- HEADER -->

<!-- Nav -->
<div id="page-content-wrapper"> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <%= image_tag("logo_scheme.png", :size => '70x70', :alt => "Nvlines", :class => "d-inline-block align-top" )%> 

      <ul class="navbar-nav mx-auto me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link active"%> 
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Lines </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Transgenic & Mutant lines</a></li>
              <li><a class="dropdown-item" href="#">Wild-type lines</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item"> <%= link_to "All lines", lines_path, class:"nav-link active"%></li>
            </ul>

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> About </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="dropdown-item"> <%= link_to "Nematostella vectensis", pages_about_nematostella_path, class:"nav-link active" %> </li>
              <li class="dropdown-item"> <%= link_to "Teams & Facilities", staffs_path, class:"nav-link active" %> </li>
            </ul>

        <li class="nav-item">
          <%= link_to "Phenotypes", phenotypes_path, class:"nav-link active"%>
        </li>    
        
        <%= form_tag(search_page_path, :method => "get",   
            class: 'navbar-form navbar-left') do %>  
          <div class="input-group">  
            <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
            <div class="input-group-btn">  
              <%= button_tag "search", :class => 'btn btn-outline-secondary',:name => nil%>  
            </div>  
          </div>  
        <% end %>

<!-- IF LOGIN -->

        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link active"%>
        </li>

        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link active"%>
        </li>

        <% else %>
      

<!-- ELSE -->

        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class:"nav-link active"%>
        </li>


      </ul>

        <% end %>

  </div>

    </div>
       
</nav>

</div>
