<!-- Nav -->
<div id="page-content-wrapper"> 
  <nav class="navbar sticky-top navbar-expand-lg navbar-light">

  <div class="container-fluid">
   
    <%= link_to root_path do %>
      <%= image_tag("logo_scheme.png", :size => '60x60', :alt => "Nvlines", :class => "d-inline-block align-top" )%>
     <% end %> 

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
    </button> 

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto me-auto mb-auto mb-lg-0">

        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link active"%> 
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> About </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="dropdown-item"> <%= link_to "Nematostella vectensis", pages_about_nematostella_path, class:"nav-link active" %> </li>
              <li class="dropdown-item"> <%= link_to "Teams & Facilities", staffs_path, class:"nav-link active" %> </li>
            </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Lines </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="dropdown-item"> <%= link_to "Reporter lines", reporter_lines_index_path, class:"nav-link active"%></li>
              <li class="dropdown-item"> <%= link_to "Functional lines", functional_lines_index_path, class:"nav-link active"%></li>
              <li class="dropdown-item"> <%= link_to "Wild-type lines", wt_lines_index_path, class:"nav-link active"%></li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item"> <%= link_to "All lines", lines_path, class:"nav-link active"%></li>
            </ul>
        </li>     
        

        <li class="nav-item">
          <%= link_to "https://kahikai.org/science/nematostella-central/" do %>
            <%= image_tag("kahikai-logo.png", :size => '60x60', :alt => "KahiKai", :class => "d-inline-block align-top" )%>
          <% end %>
        </li>   


<!-- IF LOGIN -->

        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link active"%>
        </li>

        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link active"%>
        </li>

        <% else %>
      

<!-- ELSE -->

        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class:"nav-link active"%>
        </li>



      </ul>

        <% end %>

  </div>

    </div>
       
</nav>

</div>
