
<!-- HEADER -->

<!-- Nav -->
<div id="page-content-wrapper"> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= image_tag("logo_scheme.png", :size => '70x70', :alt => "Nvlines", :class => "d-inline-block align-top" )%>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mx-auto me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link active"%> 
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lines
          </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Transgenic & Mutant lines</a></li>
              <li><a class="dropdown-item" href="#">Wild-type lines</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item"> <%= link_to "All lines", lines_path, class:"nav-link active"%></li>
            </ul>

        </li>



        <li class="nav-item">
          <%= link_to "Teams and Facilities", staffs_path, class:"nav-link active"%>
        </li>

        <li class="nav-item">
          <%= link_to "About", pages_about_nematostella_path, class:"nav-link active"%>
        </li>

        
        <li class= "nav-item">
          <%= link_to "Submit data", '#', class:"nav-link active" %> 
        </li>

        <form class="form-inline" action="/Search/" method="get">
            <fieldset>    
              <div class="input-group">
                <div class="input-group-prepend">
                  <select id="oCategorie" name="oCategorie" class="form-control">
                    <option selected="selected" value="0">Select a category</option>
                    <option value="1">Line name</option>
                    <option value="2">Gene name</option>
                    <option value="3">Phenotype</option>
                    <option value="4">Image</option>
                    <option value="5">Publication</option>
                    <option value="6">Others</option>
                  </select>
                </div>
                <input id="oSaisie" name="oSaisie" type="text" class="form-control" aria-label="key words" required="required">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="submit">Search</button>
                </div>
              </div>
            </fieldset> 
        </form>

<!-- IF LOGIN -->

        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link active"%>
        </li>

        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link active"%>
        </li>

        <% else %>
      

<!-- ELSE -->

        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class:"nav-link active"%>
        </li>


      </ul>

        <% end %>

  </div>

    </div>
       
</nav>

</div>
