<h1> About NvLines </h1>
<hr>

<h5> NvLines aim </h5>
<p>Over the past decade, the sea anemone Nematostella vectensis has emerged as a novel research model to study the molecular and cellular processes underlying regeneration and aging. Thanks to the establishment of reporter and functional lines, the scientific community can now investigate in detail a variety of biological processes in Nematostella, including its extreme regenerative capacities. Efforts to regroup and enable mining of existing data from various established research models (such as Flybase and Zfin databases), have already shown that the development of freely accessible online databases are crucial tools to foster scientific advances and build scientific communities. The increasing number of Nematostella lines has led the Röttinger team, "Embryogenesis, regeneration and aging" from the IRCAN, to estimate important the establishment of a database dedicated to regrouping all existing reporter, functional and wild lines of Nematostella vectensis. Despite the existence of several databases relating to Nematostella, transcriptomics, or in situ hybridization, a database specific to reporter, functional and wild lines have not yet been created. The aim of this project is to provide for each line type, an « identity sheet », with phenotypic, molecular, and imaging associated information. These data will also be supplemented by the publications related to each line, as well as the research teams who developed the line(s).  NvLines has been created with this aim in mind and permits users to add or modify line information through a fluid, intuitive and responsive interface. </p>
</br>

<h5> Current NvLines staff </h5>
<p> Déborah Braud, Olivier Croce, Boris Meyer, Eric Röttinger. </p>
</br>


<h1> How to use NvLines ? </h1>
<hr></br>

<h5> 1.	Add a new line </h5>

<strong> Step 1: Line index page </strong>
<p> A user can add new line information from the several index pages of the three different types of lines. Click-on it.</p>

<strong> Step 2: First information to fill in </strong>
<p> The NEW and EDIT pages will be reworked to improve the user experience, but for now it is necessary to fill in the information in a specific order.</br>
First, if there is no existing publication associated to the line, you must create it. In the page footer, click on “publication” and fill in the information without indicate an associated line :
<%= image_tag("About/Image1.png", :size => '700x70', :alt => "Foot page")%> </p>

<p>Then, fill in the information WITHOUT fill in the genetic information method and finish the creation of the line.
Once the line has been created, go to the EDIT page: </p>

<ul>
	<li> Create a genetic modification method associated in a new tab :
	<%= image_tag("About/Image2.png", :size => '700x70', :alt => "Nvlines")%> </li>

	<li> Once the genetic modification method has been created, refresh the EDIT page of the line information, and select the ID into the dropdown list: </br>
	<%= image_tag("About/Image3.png", :size => '700x70', :alt => "Nvlines") %> </li>

	<li> Then another tab can be opened to fill in the molecular information associated to the line : 
	<%= image_tag("About/Image4.png", :size => '300x200', :alt => "Nvlines")%> </li>
</ul>	





<strong> Moreover </strong>
<ul>
	<li>If the line you want to add does not fit with any line type suggested (for example, a transgenic AND mutant line), you can check “other” or one of the 2 choices.</li>

	<li>Some information is not available to fill in directly from the EDIT page of a line but there are many other ways to do it. </li>
</ul>	

</br>
<h5> 2.	Add a image </h5>

<p>There is a specific repertory which contains all image data. The button to access to the image repertory is in the footer page.</p>
<%= image_tag("About/Image5.png", :size => '700x70', :alt => "Foot page")%> </p>

