<%= form_with(model: wild_type_background) do |form| %>
  <% if wild_type_background.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wild_type_background.errors.count, "error") %> prohibited this wild_type_background from being saved:</h2>

      <ul>
        <% wild_type_background.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :sampling_conditions %>
    <%= form.text_area :sampling_conditions, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    Geographic zone of the sampling
    <%= form.text_field :sampling_geographical_zone, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    <%= form.label :supplementary_information %>
    <%= form.text_area :supplementary_information, class:'form-control' %>
  </div>

  </br>
  <div class="actions">
    <%= form.submit class: 'btn btn-light'%>
  </div>
<% end %>
