<%= form_with(model: molecular_datum) do |form| %>
  <% if molecular_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(molecular_datum.errors.count, "error") %> prohibited this molecular_datum from being saved:</h2>

      <ul>
        <% molecular_datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

</br>
  <div class="field form-group">
    <%= form.label :gene_name %>
    <%= form.text_field :gene_name, class:'form-control'  %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :genbank_gene_accession_number %>
    <%= form.text_field :genbank_gene_accession_number, class:'form-control' %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :ensembl_gene_accession_number %>
    <%= form.text_field :ensembl_gene_accession_number, class:'form-control'  %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :genome_version_accession_number %>
    <%= form.text_field :genome_version_accession_number, class:'form-control'  %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :gene_sequence %>
    <%= form.text_field :gene_sequence, class:'form-control'  %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :chromosome_number %>
    <%= form.text_field :chromosome_number, class:'form-control'  %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :gene_promoter %>
    <%= form.text_field :gene_promoter, class:'form-control'  %>
  </div>

</br>
  <div class="field form-group">
    NvERTx ID 
    <%= form.text_field :NvERTx_id, class:'form-control'  %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :locus_insertion %>
    <%= form.text_field :locus_insertion, class:'form-control'  %>
  </div>

</br>
  <div class="field form-group">
    <%= form.label :mutated_region %>
    <%= form.text_field :mutated_region, class:'form-control'  %>
  </div>

</br>
  <div class="field form-group">
    ID of the genetic moification methods :
    <%= form.collection_select :genetic_modification_method_id, GeneticModificationMethod.all, :id, :id, {:include_blank => "None"} %>
  </div>

</br>  

  <div class="actions">
    <%= form.submit class: 'btn btn-outline-secondary'%>
  </div>
<% end %>
