<p id="notice"><%= notice %></p>

<h1>Molecular Data</h1>

<table>
  <thead>
    <tr>
      <th>Gene name</th>
      <th>Genbank gene accession number</th>
      <th>Ensembl gene accession number</th>
      <th>Genome version accession number</th>
      <th>Gene sequence</th>
      <th>Chromosome number</th>
      <th>Gene promoter</th>
      <th>Nvertx</th>
      <th>Locus insertion</th>
      <th>Mutated region</th>
      <th>Genetic modification method</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @molecular_data.each do |molecular_datum| %>
      <tr>
        <td><%= molecular_datum.gene_name %></td>
        <td><%= molecular_datum.genbank_gene_accession_number %></td>
        <td><%= molecular_datum.ensembl_gene_accession_number %></td>
        <td><%= molecular_datum.genome_version_accession_number %></td>
        <td><%= molecular_datum.gene_sequence %></td>
        <td><%= molecular_datum.chromosome_number %></td>
        <td><%= molecular_datum.gene_promoter %></td>
        <td><%= molecular_datum.NvERTx_id %></td>
        <td><%= molecular_datum.locus_insertion %></td>
        <td><%= molecular_datum.mutated_region %></td>
        <td><%= molecular_datum.genetic_modification_method_id %></td>
        <td><%= link_to 'Show', molecular_datum %></td>
        <td><%= link_to 'Edit', edit_molecular_datum_path(molecular_datum) %></td>
        <td><%= link_to 'Destroy', molecular_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Molecular Datum', new_molecular_datum_path %>
