<h1>Molecular Data</h1>

<div class="table-responsive"> </br>
  <table class="table table-bordered table-responsive">
    <thead>
      <tr class="header" bgcolor="F8F9FA">
        <th colspan ="5"> Gene information</th>
        <th colspan ="6"> Other information </th>
        <th colspan ="3"> </th>
      </tr>

      <tr>
        <th>Name</th>
        <th>Genbank ID</th>
        <th>Ensembl ID</th>
        <th>Promoter</th>
        <th>Sequence</th>

        <th>Genome version accession number</th>
        <th>Chromosome number</th>
        <th>Nvertx</th>
        <th>Locus insertion</th>
        <th>Mutated region</th>
        <th>Associated line</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @molecular_data.each do |molecular_datum| %>
        <tr>
          <td><%= molecular_datum.gene_name %></td>
          <td><%= molecular_datum.genbank_gene_accession_number %></td>
          <td><%= molecular_datum.ensembl_gene_accession_number %></td>
          <td><%= molecular_datum.gene_promoter %></td>
          <td><%= molecular_datum.gene_sequence %></td>
          <td>

          <td><%= molecular_datum.genome_version_accession_number %></td>
          <td><%= molecular_datum.chromosome_number %></td>

          <td><%= molecular_datum.NvERTx_id %></td>
          <td><%= molecular_datum.locus_insertion %></td>
          <td><%= molecular_datum.mutated_region %></td>
          <td><%= molecular_datum.genetic_modification_method.line.line_name%></td>
          
          <td><%= link_to 'Show', molecular_datum %></td>
          <td><%= link_to 'Edit', edit_molecular_datum_path(molecular_datum) %></td>
          <td><%= link_to 'Delete', molecular_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'New Molecular Datum', new_molecular_datum_path %>
