<%= form_with(model: image) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="inputGroupFile01">
    <%= form.label :image %>
    <%= form.file_field :image, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    Name :
    <%= form.text_field :image_name, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    Legend :
    <%= form.text_area :image_legend, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    Date :
    <%= form.date_select :image_date, :start_year => 1970, :end_year => 2120, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    Microscopy technique :
    <%= form.text_field :microscopy_technique, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    Stage :
    <%= form.text_field :lifecycle_stage, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    Tissu localisation :
    <%= form.text_field :tissu_localization, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    Cellular localisation :
    <%= form.text_field :cellular_localization, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    Person who taked the image :
    <%= form.text_field :person_who_takes_image, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    Objective used :
    <%= form.text_field :objective_used, class:'form-control' %>
  </div>

  </br>
  <div class="field form-group">
    Associated line :
    <%= form.collection_select :line_id, Line.all, :id, :line_name, {:include_blank => 'Line name'} %>
  </div> 



  </br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
