<h1>Images Repertory</h1>
<hr>

<div class= 'row'>
  <div class='col'>
    <form action="<%= images_path %>">
      <input type="text" placeholder="Search by tissu localisation..." name="search_tissu_loca">
    </form>
  </div>

  <div class='col'>
    <form action="<%= images_path %>">
      <input type="text" placeholder="Search by cellular localisation..." name="search_cell_loca">
    </form>
  </div>

  <div class='col'>
   <%= link_to 'All images', images_path, class:'btn btn-outline-secondary' %>
  </div> 
</div>  

<p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lifecycle stage</th>
      <th>Tissu localization</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <% unless image.line.nil? %>
      <tr>
        <td><%= link_to image.line.combined_value, image.line %>, <%= image.image_name%> </td> 
        <td><%= image.lifecycle_stage %></td>
        <td><%= image.tissu_localization %></td>

        <% if user_signed_in?%> 
          <td><%= link_to 'Edit', edit_image_path(image), class:'btn btn-outline-secondary btn-sm' %></td>
          <td><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger btn-sm' %></td>
        <% end %>  
      </tr>
      <% end %>
    <% end %>a
  </tbody>
</thead>
</table>
</p>

<br>
<% if user_signed_in?%>
  <%= link_to 'Add a new image', new_image_path, class:'btn btn-light' %>
 <% else %>
  <p> To add a new image, please <%= link_to "login",new_user_session_path, class:"link" %> </p>
 <% end %> 